* {
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}



#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    color: black;
    width: 100%;
    font-size: 30px;
}

#contenido{
    background-color: blanchedalmond;
    text-align: center;
    width: 100%;
    height: 1000px;
}   

#pie{
    display: flex;
    justify-content: center;
    background-color: rgb(140, 171, 173);
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

